*

!.gitignore

!Doxyfile*
!Makefile*
!makefile*
!Makefile.*
!src/
!doc/
!jdqz_tools/
!tests/

!*.m
!*.xml
!*.C
!*.cpp
!*.cc
!*.CC
!*.H
!*.h
!*.hpp
!*.f
!*.f90
!*.F
!*.F90
!*.sh
!*.note
!*.txt
!*.org

!COPYING

*.#*
*~
